/* CSS file formatting properties for portfolio website */
/* Ayomide Oladele, Version: 1 */
/* 22/03/2021 */

/* Centers document text and defaults text size */
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Keeps text on page in the middle */
.wrapper {
	margin: 0 auto; /* vertical, horizontal */
}

/* Header properties and keeps it at the top of the page*/
header {
	height: 3em;
    width: 100%;
    z-index: 2;
    background-color: #2C2B30;
    position: fixed;
}

/* Centers navigation links in header */
nav {
    flex-wrap: nowrap;
}

.nav-left {
    float: center;
    margin: 0 1.5em;
}

.nav-right{
    float: right;
    margin-right: 1.5em;
}

/* Specifies properties of navigation links text */
nav a {
    color: #D6D6D6;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 0.6em;
}

/* Adds hover effect on navigation links*/
nav a:hover{
    opacity: 0.7;
}

/* Specifies properties of the banner */
.banner {
    width: 100%;
    height: 90%;
	top: 5em;
    position: fixed;
    z-index: -1;
}

/* Styles text on banner */
.banner h1 {
	margin-top: 0.5%;
	font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color:  #2C2B30;
}

/* Styles main content boxes*/
article {
    z-index: 1;
    border: 0.7em solid #2C2B30;
    width: 90%;
    height: auto;
	position: relative;
    top: 12em;
    bottom: 10em;
    background: #D6D6D6;
	margin: 0% 4% 5%;
}

article.projectsArticle {
    top: 17.5em;
    margin-bottom: 20%;
}

/* Styles headers */
article h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: italic;
	letter-spacing: 0.25em;
	padding-top: 2em;
	font-size: 1.5em;
    color:  #0fcca0;
}

article p {
	padding: 2% 5%;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
    line-height: 1.875em;
    font-size: 15px;
}

/* Specifies properties for all content containers */
article .container p{
    width: 80%;
    height: 12.75em;
}

/* ABOUT ME */
/* Formats round profile picture */
.profile-picture img {
    border-radius: 50%;
    width: 180px;
    overflow:hidden;
    padding-bottom: 1em;
}

/* PROJECTS */
/* Format project cards */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 230px;
  height: 340px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 55%;
  border-radius: 5px;
  background-color: #2C2B30;
}

/* Add rounded corners to the top left and the top right corner of the image */
img.projectImg {
  border-radius: 5px 5px 0 0;
  object-fit: cover; /*image doesn't stretch */
  height: 40%;
}

/* On hover-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container, arranges content into a grid */
.container {
  padding: 2px 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

h4.projectName {
    color: white;
    text-align: center;
    margin-top: 0.5em;
}

p.projectDescription {
    color: white;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    margin-top: 1em;
}