/* CSS file foramatting properties for login website */
/* Ayomide Oladele, Version: 1 */
/* 22/03/2021 */

/* Sets background colour for website */
html{
  background-color:#4F4F51 ;
}

/* Sets text formatting for page */
body{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1em;
  position: relative;
  text-align: center;
}

/* Sets format for form*/
form {
  background-color: #2C2B30;
  border: solid 0.2em #D6D6D6;
  border-spacing: 2em;
  border-radius: 2em;
  display:inline-block;
  margin-top: 10%;
  padding: 20px;
  width: 50%;
}

legend{
  text-align: left;
}
  
/* Formats input boxes */
input {
    border: none;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    padding: 14px;
    width: 100%;
}
  
/* Set a style for all buttons */
button {
    text-align: center;
    background-color: #f58f7c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;

}
  
/* Add a fading hover effect on button */
button:hover {
    opacity: 0.8;
}
